body{
    font-family: 'Roboto Condensed', sans-serif;
}
.font-Indie{
    font-family: 'Indie Flower', cursive;
}
.font-Roboto{
    font-family: 'Roboto Condensed', sans-serif;
}
.font-Montserrat{
    font-family: 'Montserrat', sans-serif;
}
.fieldset{
    border: solid thin #ccc;
    border-radius: 5px;
    padding: 0 0 20px 50px;
    box-shadow: 0 0 5px silver;
}

legend{border: none;}

.centralizado {margin-top: 20%;}

.azul{color: #337ab7; font-weight: bold}
.top10{margin-top: 10px;}
.top20{margin-top: 20px;}
.top30{margin-top: 30px;}
.top40{margin-top: 40px;}
.top50{margin-top: 50px;}
.top60{margin-top: 60px;}
.top70{margin-top: 70px;}
/*LOGIN*/

.loginTopo{margin-bottom: 10px;display: inline-block}

.topo{background: #238fcf; font-size: 30px; height: 100px; line-height: 100px; color: #fff;font-weight: bold}

/* HOME*/
.pagHome{margin-top: 20px; }
.pagHomeBorder{border: solid thin #ccc; height: 250px; border-radius: 6px; box-shadow: 0 0 8px #e4b9b9; padding-top: 20px;}
.pagHomeBox1 div{}
.pagHomeBox2 {margin-top: 20px;}
.pagHomeBox2 a {font-size: 18px; text-align: left; margin: 3px 0; background-color: #218ECE; color: #fff;}
.pagHomeBox2 a:hover{color: #fff; background-color: #238fcf}
.navbar-nav>.active>a:hover,.navbar-nav>.active>a:focus{ background-color: #ccc}
.navbar-nav>.active>a:hover{}
.menu{font-size: 16px; }
.navbar{margin-bottom: 0;}