<section>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a class="navbar-brand" href="#"><img src="img/psychemedics.gif"/></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar" ng-controller="MenuCtrl as menu">
                <ul class="nav navbar-nav menu">
                    <li ng-class="{active: menu.active == '/home'}"><a href="#/home">Home</a></li>
                    <li ng-class="{active: menu.active == '/mensagens'}"><a href="#/mensagens">Mensagens</a></li>
                    <li ng-class="{active: menu.active == '/exames'}"><a href="#/exames">Exames</a></li> 
                    <li ng-class="{active: menu.active == '/resultados'}"><a href="#/resultados">Resultados</a></li> 
                    <li ng-class="{active: menu.active == '/cadastro'}"><a href="#/cadastro">Cadastro</a></li> 
                    <li ng-class="{active: menu.active == '/vender'}"><a href="#">Vender</a></li> 
                    <li ng-class="{active: menu.active == '/sedex'}"><a href="#">Código Sedex</a></li> 
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{menu.coletor}}</a></li>
                    <li ng-click="menu.sair()"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Sair</a></li>
                </ul>
            </div>
        </div>
    </nav>
</section>