<!-- diretiva menu -->
<menu-principal></menu-principal>

<!-- diretiva topo -->
<topo-principal></topo-principal>



<div class="container" ng-controller="MensagensCtrl as msg">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Título</th>
                <th>Mensagem</th>
                <th>Data</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Primeiro teste</td>
                <td>Mensagem do primeiro teste efetuado</td>
                <td>10/05/2015</td>
                <td><a href="#/mensagem/5" class="btn btn-primary btn-warning col-md-12">Ler</a></td>
            </tr>
            <tr>
                <td>Primeiro teste</td>
                <td>Mensagem do primeiro teste efetuado</td>
                <td>10/05/2015</td>
                <td><a href="#/mensagem/5" class="btn btn-primary btn-warning col-md-12">Ler</a></td>
            </tr>
            <tr>
                <td>Primeiro teste</td>
                <td>Mensagem do primeiro teste efetuado</td>
                <td>10/05/2015</td>
                <td><a href="#/mensagem/5" class="btn btn-primary btn-warning col-md-12">Ler</a></td>
            </tr>
        </tbody>
    </table>
</div>
