<!-- diretiva menu -->
<menu-principal></menu-principal>

<!-- diretiva topo -->
<topo-principal></topo-principal>



<div class="container" ng-controller="MensagemCtrl as msg">
    <h1 class="text-uppercase text-info"> Titulo <small class=" text-info"> - 10/05/2015</small></h1>
    
    <div class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sapien augue, bibendum ac purus sed, eleifend facilisis tortor. Vestibulum dui ligula, viverra id est eget, rutrum placerat odio. Mauris a pretium orci, quis dictum lectus. Quisque aliquam, arcu eget efficitur sagittis, tortor mi eleifend mi, tempus laoreet dui justo in leo. Suspendisse nec lectus interdum, auctor leo quis, aliquam nulla. Nunc elementum porta justo non faucibus. Nulla sit amet gravida ipsum. Nunc nulla mi, ullamcorper sollicitudin magna vel, suscipit blandit metus. Donec pharetra nisl viverra, pharetra urna a, lobortis nulla.

Praesent ac pharetra est. Curabitur vel nunc elementum, hendrerit magna vel, molestie urna. Phasellus quis mollis leo, vitae egestas ante. Quisque a dui varius, laoreet justo ut, laoreet leo. Nullam sit amet ex tellus. Fusce tempus tortor ut blandit condimentum. Quisque ut magna volutpat, finibus justo in, hendrerit nulla. Aliquam orci odio, hendrerit eleifend justo semper, semper ornare nunc. Nam sed erat facilisis, volutpat risus eget, vestibulum dui. Cras sagittis vitae ligula ut vehicula. Nam blandit tincidunt dui, lobortis congue libero pulvinar fermentum.

Nunc libero sem, aliquet eget purus sit amet, vulputate bibendum nibh. Curabitur malesuada justo non commodo commodo. Suspendisse potenti. Sed ac ligula lacinia, fermentum dolor eget, tincidunt eros. Nullam ac interdum urna, sed consequat odio. Maecenas posuere lectus ut porta dictum. Fusce dictum pellentesque euismod. Aliquam eleifend eu magna non imperdiet. Nunc leo magna, consequat in fringilla nec, interdum nec urna. Donec hendrerit est quis mauris ornare congue. Sed metus leo, finibus vitae pellentesque vel, sagittis id sem. Sed libero massa, accumsan a lectus eu, consectetur maximus ante. Nunc at porta sem, vel ultrices ex. Maecenas mattis nec sapien a aliquet. Duis congue in nulla id maximus. Quisque euismod viverra lorem quis vehicula.
    </div>
    <a href="#/mensagens" class="btn btn-warning top30">Voltar</a>
</div>