<!-- diretiva menu -->
<menu-principal></menu-principal>

<!-- diretiva topo -->
<topo-principal></topo-principal>



<div class="container" ng-controller="ResultadosCtrl as res">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Doadores</th>
                <th>CPF</th>
                <th>Cídigo declaração</th>
                <th>Laudo</th>
                <th>Resultado</th>
                <th>Laudo</th>
                <th>Conf. Visualização</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>João</td>
                <td>10211515154</td>
                <td>FMFDELFE</td>
                <td>Liberado</td>
                <td>Negativo</td>
                <td><a href="#/" class="glyphicon glyphicon-fullscreen"></a></td>
                <td><a class="glyphicon glyphicon-check"></a></td>
            </tr>
            <tr>
                <td>Maria</td>
                <td>4555465456</td>
                <td>CVACEEWFD</td>
                <td>Enviado doador</td>
                <td> - </td>
                <td> - </td>
                <td> - </td>
            </tr>
        </tbody>
    </table>
</div>
