<section class="container-fluid" ng-controller="AttPassCtrl as att">
    <main class="col-sm-offset-4">
        <fieldset class="centralizado fieldset col-sm-4">
            <legend><img src="img/psychemedics.gif"/></legend>
            <form class="form col-sm-12 row" role="form">
                <div class="loginTopo">
                    <img class="pull-left" width="60px" src="img/cadeado.jpg"/>
                    <h4 class="azul pull-right"> Alterar senha</h4>
                </div>
                
                
                <label>
                    <input ng-model="att.newPass" type="password" placeholder="Nova Senha" class="form-control" required=""/>
                </label>

                <label>
                    <input ng-model="att.newPass2" type="password" placeholder="Repetir Senha" class="form-control" required=""/>
                </label>

                <button class="btn btn-primary" ng-click="att.attPass()">
                    Acessar
                </button>
            </form>
        </fieldset>
    </main>
</section>