<!-- diretiva menu -->
<menu-principal></menu-principal>

<!-- diretiva topo -->
<topo-principal></topo-principal>

<!-- template -->
<article class="pagHome container-fluid" ng-controller="HomeCtrl as home">
    <div class="pagHomeBox1">
        
        <div class="col-md-4">
            <h3 class="font-Montserrat"><a href="#/mensagens"><span class="glyphicon glyphicon-pushpin"></span> Mensagens</a></h3>
            <div class="col-md-12 pagHomeBorder">
                <p class="col-md-12" ng-repeat="msg in home.msg">
                    <b>{{msg.data}} às {{msg.hora}}h</b> - {{msg.titulo}}
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <h3 class="font-Montserrat"><a href="#/exames"><span class="glyphicon glyphicon-book"></span> Lista de exames</a></h3>
            <div class="col-md-12 pagHomeBorder">
                <p class="col-md-12" ng-repeat="exm in home.exm">
                    <b>{{exm.nome}}</b> - CPF: {{exm.cpf}} - {{exm.pg}}
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <h3 class="font-Montserrat"><a href="#"><span class="glyphicon glyphicon-th-list"></span> Lista de resultados </a></h3>
            <div class="col-md-12 pagHomeBorder">
                <p class="text-center"><i>Existem {{home.totalResu}} resultado(s) não visualizados</i></p>
                <p class="col-md-12" ng-repeat="resu in home.resu"><b>{{resu.nome}}</b> - CPF: {{resu.cpf}}</p>
            </div>
        </div>
    </div>
        
   
</article>