<section class="container-fluid" ng-controller="LoginCtrl as lg">
    <main class="col-sm-offset-4">
        <fieldset class="centralizado fieldset col-sm-4">
            <legend><img src="img/psychemedics.gif"/></legend>
            <form class="form col-sm-12 row" role="form">
                <div class="loginTopo">
                    <img class="pull-left" width="60px" src="img/cadeado.jpg"/>
                    <h4 class="azul pull-right"> Acesso ao Painel</h4>
                </div>
                
                <label>
                    <input ng-model="lg.email" type="email" placeholder="E-mail de acesso" class="form-control" required=""/>
                </label>

                <label>
                    <input ng-model="lg.pass" type="password" placeholder="Senha" class="form-control" required=""/>
                </label>

                <button class="btn btn-primary" ng-click="lg.acessar()">
                    Acessar
                </button>
            </form>
        </fieldset>
    </main>
</section>