<!-- diretiva menu -->
<menu-principal></menu-principal>

<!-- diretiva topo -->
<topo-principal></topo-principal>



<div class="container" ng-controller="CadastroCtrl as cad">
    <h1>Cadastro</h1>
    <hr/>
    <form class="form">
        <fieldset>
            <legend>Contato</legend>
            
            <label class="col-md-4">
                Nome:
                <input type="text" class="form-control"/>
            </label>
            
            <label class="col-md-3">
                Apelido:
                <input type="text" class="form-control"/>
            </label>
            
            <label class="col-md-3">
                CPF:
                <input type="text" class="form-control"/>
            </label>
            
            
            <label class="col-md-3">
                Sexo
                <select class="form-control">
                    <option>Masculino</option>
                    <option>Feminino</option>
                </select>
            </label>
            <label class="col-md-3">
                Status
                <select class="form-control">
                    <option>Ativo</option>
                </select>
            </label>
            <label class="col-md-3">
                Médico
                <select class="form-control">
                    <option>Não</option>
                    <option>Sim</option>
                </select>
            </label>
            <label class="col-md-3">
                Coletor
                <select class="form-control">
                    <option>Não</option>
                    <option>Sim</option>
                </select>
            </label>
        </fieldset>
        <hr/>
        <fieldset class="top30">
            <legend>Acesso</legend>
            <label class="col-md-4">
                Email:
                <input type="email" class="form-control"/>
            </label>
             <label class="col-md-3">
                Acesso:
                <select class="form-control">
                    <option>Não</option>
                    <option>Sim</option>
                </select>
            </label>
             <label class="col-md-3">
                Administrador
                <select class="form-control">
                    <option>Não</option>
                    <option>Sim</option>
                </select>
            </label>
            
        </fieldset>
        
        <button class="btn btn-warning top30">
            Cadastrar
        </button>
    </form>
</div>