<!-- diretiva menu -->
<menu-principal></menu-principal>

<!-- diretiva topo -->
<topo-principal></topo-principal>



<div class="container" ng-controller="ExameCtrl as exm">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Doador</th>
                <th>CPF</th>
                <th>Coletor</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>João</td>
                <td>12154456454</td>
                <td>Eduardo</td>
                <td class="bg-info">Aguardando a coleta</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th>Médico visualiza?</th>
                <th>Laudo impresso envia?</th>
                <th>Endereço</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sim</td>
                <td>Sim</td>
                <td>Rua José Padilha, 506 - Santo Antônio, CEP: 26291368</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-warning top30" href="#/exames">Voltar</a>
</div>
