<!-- diretiva menu -->
<menu-principal></menu-principal>

<!-- diretiva topo -->
<topo-principal></topo-principal>



<div class="container" ng-controller="ExamesCtrl as exm">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Condutores</th>
                <th>Pagamento</th>
                <th>Cídigo declaração</th>
                <th>Inicias coleta</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>João</td>
                <td>Pago</td>
                <td>FMFDELFE</td>
                <td><select class="input-sm"><option>Mariana</option></select></td>
                <td class="bg-info">Aguardando a coleta</td>
                <td><a href="#/exame/5" class="btn btn-primary btn-warning col-md-12">Visualizar</a></td>
            </tr>
            <tr>
                <td>Carla</td>
                <td>Não pago</td>
                <td>DCECWVEW</td>
                <td><select class="input-sm"><option>Mariana</option></select></td>
                <td class="bg-warning">Aguardando a coleta</td>
                <td><a href="#/exame/5" class="btn btn-primary btn-warning col-md-12">Visualizar</a></td>
            </tr>
        </tbody>
    </table>
</div>
